{% extends 'products/base.html' %}
{%load static%}
{% block body %}

<section class="vh-100" style="background-color: #d13d31;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="{% static 'custom_loggin/images/steven-shi-gK6TBZzCREc-unsplash.jpg' %}" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
<!--form for register page-->
<form method="POST" action="{% url 'passRegister' %}">   
    <div class="d-flex align-items-center mb-3 pb-1">
      <i class="fas fa-cubes fa-2x me-3" style="color: #0d0000;"></i>
      <span class="h1 fw-bold mb-0">Logo</span>
    </div>
    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">REGISTER for SHOPPING</h5>
    {% csrf_token %}
    {{ form.as_p }}
    
    <button class="btn btn-secondary" type="submit">REGISTER</button>
</form>
<!--register button-->
    
    

</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

</section>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
{% endblock %}