{% extends 'products/base.html' %}
{% block body %}

<div class=" col-12 col-md-9 mx-auto mx-5  ">
    <div class="d-flex justify-content-between ">
      <div class="container border border-5 border-danger">

        <div class="d-flex text-center mx-4 mt-4">
            <i class="bi bi-pencil-square mx-2 h3 text-danger "></i>
            <span class=" mt-1 fw-bold text-danger ">
                تغییر رمز
            </span>
        </div>

        <div class="row">		
          <div class="col-md-6 offset-md-3 border border-3 border-danger-subtle ">
        	<br/><br/>
            <form method="POST" action="{% url 'update_password' %}">
                {% csrf_token %}
                
                {{ form.as_p }}
                <br/><br/>
                <button type="submit" class="btn btn-danger background-color1-op mx-4">
                    به روز رسانی 
                </button>
            
            </form>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</div>
</div>
</div>
</div>
</div>

{% endblock %}