{% extends 'products/base.html' %}
{% block body %}

<div class=" col-12 col-md-9 mx-auto mx-5  ">
    <div class="d-flex justify-content-between ">
      <div class="container">

        <div class="d-flex text-center mx-4 mt-4">
            <i class="bi bi-pencil-square mx-2 h3 text-danger "></i>
            <span class=" mt-1 fw-bold text-primary ">
            اطلاعات ارسال
            </span>
        </div>

        <div class="row">		
          <div class="col-md-6 offset-md-3 border border-1 border-primary ">
            <br/><br/>
                <strong class="text-primary">اطلاعات فاکتور</strong>
                    <br/><br/>
                    <form method="POST" action="{% url 'update_info' %}">
                        {% csrf_token %}
                    
                        {{ form.as_p }}
                                                                    <br/><br/>
                        <strong class= "text-danger">اطلاعات برای حمل و ارسال</strong>
                                                                    <br/><br/>
                        {{ shipping_form.as_p }}
                                                                    <br/><br/>
                        <button type="submit" class="btn btn-danger background-color1-op">به روزرسانی</button>
                    </form>
                    <br><br><br>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}