
{% extends 'products/base.html' %} 
{% load static %}
{% load custom_filters %}
<head>
    <style>
        /* Hide default controls */
    video::-webkit-media-controls {
        display: none !important;
    }
    video::-webkit-media-controls-enclosure {
        display: none !important;
    }
    video::-webkit-media-controls-panel {
        display: none !important;
    }
    video::-webkit-media-controls-play-button {
        display: none !important;
    }
    video::-webkit-media-controls-start-playback-button {
        display: none !important;
    }

    /* Set video height */
    video {
        height: calc(100vh - 60px); /* Subtracting the height of the navbar */
        width: 100%; /* Ensure the video takes up the full width */
        border: none;
    }
        
    </style>
</head>

{% block body %}

<div class="container-fluid d-flex justify-content-center align-items-center ">
    <div class="row">
        <div class="col-12 col-md-12">
            <!-- Hero Section -->
            {% comment %} <div class="mt-1">
                <a href="{% url 'all_products' %}" class=" fw-bold shadow">
                    <video autoplay loop muted class="img-fluid">
                        <source src="{% static 'img/welcome.mp4' %}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </a>
            </div> {% endcomment %}
            
            <!--SLIDEE TOP PAGE-->
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-inner ">
                    <div class="carousel-item active mb-3" data-bs-interval="10000">
                        <a href="{% url 'all_products' %}">
                            <img src="{% static 'products/img/slidebanner.webp' %}" class="d-block img-fluid" alt="...">
                        </a>
                    </div>
                    <div class="carousel-item mb-3" data-bs-interval="10000">
                        <a href="{% url 'all_products' %}">
                            <img src="{% static '/img/pcbanner.webp' %}" class="d-block img-fluid" alt="...">
                        </a>
                    </div>
                </div>
                
                <!-- SLIDE BUTTONS -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>


<!-- forosh vizhe -->

<div class="container mt-1 shadow  rounded-5">

    <div class="row gx-1">
        <a href="{% url 'Discounted' %}" class="col-12 mt-1">
            <img class="img-fluid rounded-5 d-none d-md-block" src="{% static 'products/img/off.png' %}" alt="">
        </a>
        
        {% for product in sale %}
        <div class="col-12 col-md-3 border border-2 p-2 rounded-4  mt-3 mb-3 ms-1">
            <a href="{% url 'product_detail' product.pk %}">
                <div class="rounded-5">
                    <div class="bg-white">
                        <div class="text-light text-center fw-bold color1">تخفیف</div>

                        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="d-block w-100 ">
                        <div class="overflow-hidden">
                            <p class="text-black text-start fw-bold mt-2 mb-1"><span class="bi bi-box text-color1 mt-1 mx-1"></span>{{product.name}}</p>
                            <hr class="shadow"></hr>
                            <p class="text-end text-colorforbuyLow mb-0"><s>{{product.price}} تومان </s></p>
                            <p class="text-end text-color1 fw-bold mb-0">{{product.sale_price}} تومان </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
  

<!-- PRODUCTS -->
<div class="container mt-3  shadow border border-1 rounded-4 ">
    <!-- HEAD PIC OF ALL PRODUCTS -->
    <div class="row p-2">
        <a href="{% url 'all_products' %}" class="col-12">
            <img class="img-fluid rounded-5 d-none d-md-block" src="{% static 'products/img/kala.png' %}" alt="">
        </a>

        <!-- BOX ALL PRODUCTS -->
        {% for product in products %}
        <div class="col-12 col-md-3  shadow rounded-3 position-relative mt-3 mb-3 ">
            <a href="{% url 'product_detail' product.pk %}">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="d-block w-100 ">
                <div class="product-info p-3"> <!-- Added padding to the product info -->
                    <p class="text-black text-start fw-bold mt-1">
                        <span class="bi bi-box text-color1 text-start mx-1 "></span>{{ product.name }}
                    </p>
                    
                    <div class="d-flex align-items-end flex-column">
                        {% if product.in_sale %}
                        <p class="text-end mb-0"><s>{{ product.price }}</s></p>
                        <p class="text-color1 text-end fw-bold mb-0">قیمت با تخفیف: {{ product.sale_price }} <small>تومان</small></p>
                        {% else %}
                        <p class="text-colorforbuyLow text-end mt-2 fw-bold mb-0">{{ product.price }} <small>تومان</small></p>
                        {% endif %}
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>




{% endblock %}
